*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* primary-colors */
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    /* fonts */
    --Family: [Poppins];
    --weight1:400;
    --weight2:600;
    /* fonts2 */
    --Family2: [Open Sans];
    --weight1:400;
}
.hero{
    background-color: var(--Violet);
    display: flex;
    flex-direction: row;
    background-image: url(/CSS/Resources/images/bg-desktop.svg);
}
.div-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 30px;
    gap: 50px;
}
.div-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    color: white;
}
.div-2 h1{
    font-family: var(--Family);
    font-weight: var(--weight2);
    font-size: 2.5rem;
}
.div-2 p{
    font-family: var(--Family2);
    font-weight: var(--weight1);
    font-size: 1.2rem;
}
.div-2 button{
    background-color:white;
    color: var(--Violet);
    padding: 10px 20px;
    border-radius: 30px;
    font-family: var(--Family2);
    font-weight: var(--weight2);
    font-size: 0.75rem;
    border: none;
    cursor: pointer;
    width: 30%;
}
.icons{
    display: flex;
    gap: 20px;
}
.bi-facebook,
.bi-twitter,
.bi-instagram{
    font-size: 1.5rem;
    /* color: white; */
    cursor: pointer;
    transition: color 0.3s ease;
    border: 2px solid white;
    border-radius: 50px;
    width: 100%;
    padding: 5px;
}
@media (min-width:320px) and (max-width: 479px){
    .hero{
        flex-direction: column;
        align-items: center;
        background-image: none;
        
    }
    .div-1, .div-2{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .div-1{
        align-items: start;
        background-image: url(/CSS/Resources/images/bg-mobile.svg);
    }
    .img-1{
        width: 30%;
        height: auto;
        object-fit: cover;
        align-items: start;
    }
    .img-2{
        width: 80%;
        height: auto;
        object-fit: cover;
    }
    .div-2{
        align-items: center;
    }
    .div-2 h1{
        font-size: 25px;
    }
    .div-2 p{
        font-size: 12px;
        width: 50%;
    }
    .div-2 button{
        width: 50%;
        align-items: center;
    }
    .icons{
        align-items: center;
        width: 50%;
    }
}